# Ignore generated Docker Compose artifacts and runtime data
docker-compose.yaml
config/
mosquitto/
zigbee2mqtt/

# Ignore Terraform local variable and state files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore python related data 
__pycache__/
.mypy_cache/